body{
    transition: 1s;
}

#eye-mask{
    transition: 1s;
}

h1{
    transition: 1s;
}

h2{
    transition: 1s;
}

h3{
    transition: 1s;
}

h4{
    transition: 1s;
}

p{
    transition: 1s;
}

ol{
    transition: 1s;
}

a{
    transition: 1s;
}

button{
    transition: 1s;
}