.invis{
    display: none;
}

.eye{
    position: absolute;
    left: 50%;
    width: 240px;
    height: 182.5px;
    transform: translateX(-120px);
}

.emoji-eye{
    position: absolute;
    width: 240px;
}

.iris{
    position: fixed;
    left: 50%;
    width: 240px;
    height: 182.5px;
    transform: translateX(-120px);
}

.emoji-iris{
    position: absolute;
    width: 125px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eye-lid{
    position: absolute;
    width: 240px;
    height: 182.5px;
}

.emoji-eye-lid{
    position: absolute;
    width: 240px;
}