.emoji-eye{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 182.5px;
    transform: translateX(-120px);
}

.img-emoji-eye-base{
    position: absolute;
    width: 240px;
}

.emoji-iris{
    position: fixed;
    left: 50%;
    width: 240px;
    height: 182.5px;
    transform: translateX(-120px);
}

.img-emoji-iris{
    position: absolute;
    width: 125px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emoji-eye-lid{
    position: absolute;
    width: 240px;
    height: 182.5px;
}

.img-emoji-eye-lid{
    position: absolute;
    width: 240px;
}

.img{
    width: 100%;
}