/* Variables */

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000;
    --bg: #fff;
    --type: #000;
}

.darkMode{
    --bg: #000;
    --type: #fff;
}

/* Body */

*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    margin: 2.4rem;
    padding: 0;
    background: var(--bg);

    transition: 1s;
}

/* Type */

h1{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;

    color: var(--type);

    transition: 1s;
}

h2{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;

    color: var(--almost-red);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1rem;

    color: var(--type);

    transition: 1s;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;

    color: var(--type);

    transition: 1s;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;

    color: var(--type);

    transition: 1s;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;

    color: var(--type);

    transition: 1s;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    
    color: var(--almost-red);
    text-decoration: none;

    margin-right: 0.5rem;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    
    color: var(--almost-red);

    border: none;
    background: none;

    padding: 0;

    cursor: pointer;
}

#exercises{
    margin: 2rem 0;
}

#projects{
    margin: 2rem 0;
}

.listed{
    display: flex;
    flex-wrap: nowrap;
    gap: 2.5rem;
    margin-top: 1rem;
}

.when{
    margin-bottom: 0.4rem;
}

.second{
    margin-top: 0.4rem;
}

#eye-mask{
    position: absolute;
    width: 240px;
    fill: var(--bg);

    transition: 1s;
}