body{
    margin: 24px;
    padding: 0;
    background: white;
}

h1{
    font-size: 24pt;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 20px;
}

h3{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

article{
    max-width: 40em;
	margin: auto;
}

.img{
    width: 100%;
}

.flex-funny{
    display: flex;
    flex-wrap: nowrap;
}