@font-face {
    font-family: "illegible";
    src: url('../assets/Illegible-VariableVF.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

#main{
    padding-right: 20%;
    font-variation-settings: 'wght' 10;
    animation: fontanim 5s infinite alternate;
}

.show-case{
    margin-top: 3rem;
}

p{
    margin-top: 0.4rem;
}

h5{
    font-family: illegible, snas;
    font-style: normal;
    font-size: 8rem;
}

h6{
    font-family: illegible, snas;
    font-style:normal;
    font-size: 4rem;

    text-transform: lowercase;
    line-height: 3.5rem;
}

.btext{
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--almost-red);
}

@keyframes fontanim{
    form{
        font-variation-settings: 'wght' 10;
    }
    to{
        font-variation-settings: 'wght' 500;
    }
}