@font-face {
    font-family: "illegible";
    src: url('../assets/Illegible-Updated-VariableVF.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

#main{
    padding-right: 20%;
    font-variation-settings: 'wght' 10;
    animation: fontanim 5s infinite alternate;
}

.header{
    margin-bottom: 32px;
}

.show-case{
    margin-top: 32px;
}

.characters{
    margin-top: -10px;
}

.sample{
    margin-top: 0;
}

/* .buttons{
    height: 100%;
    width: 20%;

    position: fixed;
    right: 0;
    transform: translate(0, -24px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#dumb{
    width: 100px;
    height: 100px;
    background-color: var(--almost-white);

    position: fixed;
    right: 24px;
}

#dumb:hover + .main{
    font-variation-settings: 'wght' 500;
}

#hyper{
    width: 100px;
    height: 100px;
    background-color: var(--almost-white);

    position: fixed;
    right: 24px;
    transform: translate(0, 124px);
}

#space{
    width: 100px;
    height: 100px;
    background-color: var(--almost-white);

    position: fixed;
    right: 24px;
    transform: translate(0, 248px);
} */

h1{
    margin-bottom: 4px;
}

p{
    margin-top: 0px;
}

h5{
    font-family: illegible, snas;
    font-style: normal;
    font-size: 8rem;
}

h6{
    font-family: illegible, snas;
    font-style:normal;
    font-size: 4rem;

    text-transform: lowercase;
    line-height: 3.5rem;

    margin-bottom: 3.5rem;
}

.btext{
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--almost-red);
}

@keyframes fontanim{
    form{
        font-variation-settings: 'wght' 10;
    }
    to{
        font-variation-settings: 'wght' 500;
    }
}