h1{
    color: rgb(0, 255, 0);
    border: 1px solid;
    padding: 20px;
}

h2{
    margin-top: 2em;
    margin-bottom: 2rem;
}

p{
    color: rgb(255, 0, 0);
    margin-top: 8px;
    margin-bottom: 8px;
}

.special{
    color: rgb(0, 0, 255);
}

.event{
    border: 2px solid;
}