body{
    margin: 24px;
    padding: 0;
    background: blue;
}

.eyes{
    position: absolute;
    left: 50%;
    transform: translate(-120px);
    width: 100%;
    text-align: center;
}

.eye{
    width: 240px;
    height: 120px;
    background: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball{
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid gray;
}

.emoji-eye-base{
    width: 40px;
}