/* Variables */
:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --almost-gray: #4d4d4d;
    --almost-black: #1a1a1a;
}

/* Body */
*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

#maisema{
    background-color: var(--almost-white);
    height: 170vh;
}

#aurinko{
    position: relative;
    top: 5%;
    right: -75%;
    z-index: 1;
    width: 300px;
    height: 300px;
    overflow: visible;

    background-image: url('../assets/Aurinko.svg');
    background-position: 0% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.maisema-korkeus{
    position: relative;
    height: 170vh;

    background-position: 0% 100%;
    background-size: contain;
    background-repeat: repeat-x;
}

#taka-maisema{
    top: -300px;
    z-index: 2;

    background-image: url('../assets/Laakso/Taka_Maisema.svg');
}

#maisema-maisema{
    z-index: 3;

    background-image: url('../assets/Laakso/Maisema.svg');
}

#keski-maisema{
    z-index: 4;

    background-image: url('../assets/Laakso/Keski-Maisema.svg');
}

#etu-maisema{
    z-index: 5;

    background-image: url('../assets/Laakso/Etu-ja-Muumitalo.svg');
}


.metsä-korkeus{
    position: relative;
    height: 120vh;

    background-position: 0% 100%;
    background-size: contain;
    background-repeat: repeat-x;
}

#taain-metsä{
    top: -1440px;
    z-index: 6;

    background-image: url('../assets/Metsä/Taain-Metsä.svg');
}

#taka-metsä{
    z-index: 7;

    background-image: url('../assets/Metsä/Taka-Metsä.svg');
}

#keski-metsä{
    z-index: 8;

    background-image: url('../assets/Metsä/Keski-Metsä.svg');
}

#etu-metsä{
    z-index: 9;

    background-image: url('../assets/Metsä/Etu-Metsä.svg');
}





#tiheys{
    background-color: var(--almost-black);
    height: 100vh;
}

#mehä{
    background-color: var(--almost-gray);
    height: 100vh;
}