/* Variables */
:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
}

/* Body */
*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    background-color: var(--almost-white);
}

#aurinko{
    background-image: url('../assets/Aurinko.svg');
    background-repeat: no-repeat;
    background-size: auto;

    position: absolute;
    width: 300px;
    height: 300px;

    left: auto;
    top: 5%;
    right: 5%;
    bottom: auto;
}

/* Laakso */
#laakso{
    overflow: hidden;
}

#taka-maisema{
    background-image: url('../assets/Laakso/Taka_Maisema.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 30%;
}

#maisema{
    background-image: url('../assets/Laakso/Maisema.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 30%;
}

#keski-maisema{
    background-image: url('../assets/Laakso/Keski-Maisema.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 30%;
}

#etu-maisema{
    background-image: url('../assets/Laakso/Etu-Maisema.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 30%;
}

#tie{
    background-image: url('../assets/Laakso/tie.svg');
    background-repeat: no-repeat;
    background-size: auto;

    position: absolute;
    height: 400px;
    width: 1000px;

    left: 400px;
    top: 74%;
    right: auto;
    bottom: auto;
}

#muumitalo{
    background-image: url('../assets/Laakso/Muumitalo.svg');
    background-repeat: no-repeat;
    background-size: auto;

    position: absolute;
    height: 250px;
    width: 250px;

    left: 400px;
    top: 50%;
    right: auto;
    bottom: auto;
}

/* Metsä */
#metsä{
    overflow: hidden;
}

#taain-metsä{
    background-image: url('../assets/Metsä/Taain-Metsä.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 40%;
}

#taka-metsä{
    background-image: url('../assets/Metsä/Taka-Metsä.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 60%;
}

#keski-metsä{
    background-image: url('../assets/Metsä/Keski-Metsä.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 80%;
}

#etu-metsä{
    background-image: url('../assets/Metsä/Etu-Metsä.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 90%;
}

#tiheys{
    position: absolute;
    width: 100%;
    height: 1200px;
    background-color: #1a1a1a;

    top: 1800px;
}

/* kehä */
#kehä{
    overflow: hidden;
}

#tausta{
    position: absolute;
    width: 100%;
    height: 1220px;
    background-color: #4d4d4d;

    top: 3000px;
}

#taka-alaosa{
    background-image: url('../assets/Kehä/Taka-Alaosa.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 2450px;
}

#runko-1{
    background-image: url('../assets/Kehä/Runko-1.svg');
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 3175px;
    left: 3%;
}

#runko-4{
    background-image: url('../assets/Kehä/Runko-4.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 3125px;
    right: 5%;
}

#varjo{
    background-image: url('../assets/Kehä/Varjo.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 2700px;
}

#etu-alaosa{
    background-image: url('../assets/Kehä/Etu-Alaosa.svg');
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: auto;

    height: 100vh;
    width: 1800px;
    position: absolute;

    top: 2400px;
}