/* Variables */
@font-face {
    font-family: "Muumifontti";
    src: url('../assets/MuumiVaihtelevaFontti-VariableVF.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --almost-gray: #4d4d4d;
    --almost-black: #1a1a1a;
}

/* Body */
*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

#maisema{
    background-color: var(--almost-white);
    height: 170vh;
}

#aurinko{
    position: relative;
    top: 5%;
    right: -75%;
    z-index: 1;
    width: 300px;
    height: 300px;
    overflow: visible;

    background-image: url('../assets/Aurinko.svg');
    background-position: 0% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.maisema-korkeus{
    position: relative;
    height: 170vh;

    background-position: 0% 100%;
    background-size: contain;
    background-repeat: repeat-x;
}

#taka-maisema{
    top: -300px;
    z-index: 2;

    background-image: url('../assets/Laakso/Taka_Maisema.svg');
}

#maisema-maisema{
    z-index: 3;

    background-image: url('../assets/Laakso/Maisema.svg');
}

#keski-maisema{
    z-index: 4;

    background-image: url('../assets/Laakso/Keski-Maisema.svg');
}

#etu-maisema{
    z-index: 5;

    background-image: url('../assets/Laakso/Etu-ja-Muumitalo.svg');
}


.metsä-korkeus{
    position: relative;
    height: 120vh;

    background-position: 0% 100%;
    background-size: contain;
    background-repeat: repeat-x;
}

#taain-metsä{
    top: -1440px;
    z-index: 6;

    background-image: url('../assets/Metsä/Taain-Metsä.svg');
}

#taka-metsä{
    z-index: 7;

    background-image: url('../assets/Metsä/Taka-Metsä.svg');
}

#keski-metsä{
    z-index: 8;

    background-image: url('../assets/Metsä/Keski-Metsä.svg');
}

#etu-metsä{
    z-index: 9;

    background-image: url('../assets/Metsä/Etu-Metsä.svg');
}



#tiheys{
    background-color: var(--almost-black);
    height: 100vh;
}



#mehä{
    background-color: var(--almost-gray);
    height: 100vh;
}

.mehä-korkeus{
    height: 100vh;
}

#taka-alaosa{
    position: relative;

    background-image: url('../assets/Kehä/Taka-Alaosa.svg');
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: repeat-x;
}

#taka-runkoja{
    position: relative;
    z-index: 7;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}

#runko3{
    width: 100%;
    height: 80%;

    background-image: url('../assets/Kehä/Runko-3.svg');
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}

#runko4{
    width: 100%;
    height: 70%;

    background-image: url('../assets/Kehä/Runko-4.svg');
    background-position: 100% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}

#runko5{
    width: 100%;
    height: 75%;

    background-image: url('../assets/Kehä/Runko-5.svg');
    background-position: 100% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}



#hattivatit{
    position: relative;
    top: -100%;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}



#etu-runkoja{
    position: relative;
    top: -200%;
    z-index: 9;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
}

#runko1{
    width: 100%;
    height: 95%;

    background-image: url('../assets/Kehä/Runko-1.svg');
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}

#runko2{
    width: 100%;
    height: 98%;

    background-image: url('../assets/Kehä/Runko-2.svg');
    background-position: 100% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}



#etu-alaosa{
    position: relative;
    top: -300%;
    z-index: 10;

    background-image: url('../assets/Kehä/Etu-Alaosa.svg');
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat-x;
}

#varjo{
    position: relative;
    z-index: 9;
    height: 50vh;

    background-image: url('../assets/Kehä/Varjo.svg');
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat-x;
}






h1{
    margin-top: 400px;

    --text-wiggle: 0;
    --text-height: 100;

    text-transform: uppercase;

    font-family: muumifontti;
    font-size: 24rem;
    font-variation-settings: 'wggl' var(--text-wiggle), 'hght' var(--text-height);

    font-weight: normal;

    animation: fontanim 1s infinite;
    animation-timing-function: linear;

    color: white;
}

@keyframes fontanim{
    form{
        font-variation-settings: 'wggl' 0, 'hght' 100;
    }
    to{
        font-variation-settings: 'wggl' 100, 'hght' 100;
    }
}