@font-face {
    font-family: "Tomtbj-vLogo";
    src: url('../assets/Tomtbj-vLogo.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
}

/* Layout */

body{
    height: calc(100vh - 4.8rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main{
    padding-right: 20%;
}

#show-case{
    margin-top: 0;

    --cross-offset: 0;
    --curvature: 0;
    --rspine: 0;
    --lspine: 0;
    --thickness: 0;

    font-family: Tomtbj-vLogo;
    font-variation-settings: 
        'crso' var(--cross-offset),
        'curv' var(--curvature),
        'rspn' var(--rspine),
        'lspn' var(--lspine),
        'thck' var(--thickness);
}

#interact{
    bottom: 0;
    margin-top: 2.4rem;
    padding-right: 20%;
}

.follow{
    margin-top: 2rem;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    background: var(--almost-white);
    outline: none;
    border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--almost-red);
    border-radius: 100%;
    cursor: ew-resize;
}

.context{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    justify-self: left;
}

.right{
    justify-self: right;
}

/* Type */

p{
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

h5{
    font-family: Tomtbj-vLogo;
    font-style: normal;
    font-weight: normal;
    font-size: 36rem;
    color: black;
}