.img{
    width: 100%;
    display: block;
}

.content{
    overflow: scroll;
    height: 95vh;
    display: block;
    margin-bottom: 0px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 8px;
}

.column1{
    height: 100%;
}

@media screen and (max-width: 1000px){
    .grid{
        margin: auto;
        max-width: 80%;
        display: block;
    }
    .img{
        max-width: 100%;
        margin-bottom: 32px;
    }
    .content{
        overflow: inherit;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px){
    article{
        max-width: 80%;
    }
    h1{
        font-size: 12pt;
    }
    h3{
        font-size: 10pt;
    }
    h4{
        font-size: 10pt;
    }
    p{
        font-size: 8pt;
    }
    ol{
        font-size: 8pt;
    }
}