@font-face {
    font-family: "Connectivity-v6";
    src: url('../assets/Connectivity-v6.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
}

section{
    display: flex;
}

#show-case{
    width: 100%;
}

p{
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    width: 50ch;
}

h5{
    font-family: Connectivity-v6;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;

    text-transform: lowercase;
    text-align: center;
    /* direction: rtl; */
    font-feature-settings: "medi" 1;
    -webkit-font-feature-settings: "medi" 1;

    color: black;
}

/* .init{
    font-feature-settings: "init" 1;
    -webkit-font-feature-settings: "init" 1;
}

.medi{
    font-feature-settings: "medi" 1;
    -webkit-font-feature-settings: "medi" 1;
}

.fina{
    font-feature-settings: "fina" 1;
    -webkit-font-feature-settings: "fina" 1;
} */