/* Variables */

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

/* Body */

*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    background-color: var(--black);
    margin-top: 0;
}


/* Curtains */

.curtains{
    width: 100%;
    height: 16px;
}

.rod{
    width: 100%;
    height: 16px;

    position: fixed;
    margin-top: 18px;
}

.curtain-left{
    width: auto;
    height: 100%;

    position: fixed;
    left: -0.5%;

    transition:ease-in-out;
    transition-property: left;
    transition-duration: 500ms;
}

.curtain-right{
    width: auto;
    height: 100%;

    position: fixed;
    right: -0.5%;

    transition:ease-in-out;
    transition-property: right;
    transition-duration: 500ms;
}

/* Base */

.grid{
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 4fr 1fr;

    justify-content: center;
    flex-wrap:nowrap;
    
    height: 100%;
    max-width: 1800px;

    margin-top: -21px;
}

.main{
    background-color: var(--almost-white);

    padding: 40px 32px;
}

.left-column{
    height: 100%;
    background-color: var(--almost-red);
    padding-left: 16px;
    padding-right: 16px;
}

.right-column{
    height: 100%;
    background-color: var(--almost-red);
    padding-left: 16px;
    padding-right: 16px;
}

.left-column-content{
    padding-top: 54px;
}

.right-column-content{
    display: flex;
    flex-direction: column;

    padding-top: 5px;
}

.mobile-column-content{
    padding-top: 28px;
}


/* Content */

.introduction{
    padding-left: 33%;
}

.history{
    padding-right: 33%;
}

.today{
    padding-left: 33%;
}

.mottos{
    margin-top: 0;
    margin-bottom: 0.25vw;
}


/* Type */

h1{
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4.8rem;
    color: var(--almost-red);

    margin-top: 0;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:lighter;
    font-size: 2.2rem;
    color: var(--black);

    margin-top: 0;
    margin-bottom: 24px;
}

h3{
    font-family: aktiv-grotesk, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    color: var(--almost-red);

    margin-top: 16px;
    margin-bottom: 8px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.6rem;
    color: var(--black);

    text-indent: 3.2rem;
    line-height: 2rem;

    margin-top: 0;
}

a{
    text-decoration: none;
    color: var(--almost-red);
}

.first-line{
    text-indent: 0;
}

.quote{
    font-style: italic;
}


/* Desktop Queries */

@media (max-width: 1600px){
    .curtain-left{
        left: -2.5%;
    }

    .curtain-right{
        right: -2.5%;
    }
}

@media (max-width: 1400px){
    .curtain-left{
        left: -5.5%;
    }

    .curtain-right{
        right: -5.5%;
    }
}

@media (max-width: 1250px){
    .grid{
        grid-template-columns: 1fr 3fr 1fr;
        max-width: 1250px;
    }

    .curtain-left{
        left: -4.5%;
    }

    .curtain-right{
        right: -4.5%;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1150px){
    .grid{
        grid-template-columns: 3fr 1fr;

        max-width: 1150px;
    }

    .curtain-left{
        display: none;
    }

    .curtain-right{
        right: -2%;
    }

    .left-column{
        display: none;
    }

    .left-column-content{
        display: none;
    }
}

@media (max-height: 300px) {
    .curtain-left{
        left: -15%;
    }

    .curtain-right{
        right: -15%;
    }
}

@media (min-width: 1150px){
    .mobile-column-content{
        display: none;
    }
}


/* Mobile Queries */

/* iPhone 12 pro portrait */
@media only screen 
    and (device-width : 390px) 
    and (device-height : 844px)
    and (-webkit-device-pixel-ratio : 3){

    .grid{
        grid-template-columns: 6fr 1fr;
    }

    .rod{
        height: 32px;
        margin-top: 32px;
    }

    .curtain-right{
        height: 2120px;
        right: -495px;
    }

    .main{
        padding: 80px 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 3rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}

/* iPhone 12 pro landscape */
@media only screen 
    and (device-width : 844px) 
    and (device-height : 390px)
    and (-webkit-device-pixel-ratio : 3){

    .rod{
        margin-top: 6px;
        height: 8px;
    }

    .curtain-right{
        height: 450px;
        right: -90px;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        padding: 32px 32px;
    }

    .content-mottos{
        display: none;
    }

    .right-column-content{
        padding-right: 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 2rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

/* iPhone XR Portrait */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2){

    .rod{
        margin-top: 24px;
        height: 32px;
    }

    .grid{
        grid-template-columns: 6fr 1fr;
    }

    .curtain-right{
        height: 2120px;
        right: -490px;
    }

    .main{
        padding: 80px 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 3rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}

/* iPhone XR  Landscape */
@media only screen 
    and (device-width : 896px) 
    and (device-height : 414px)
    and (-webkit-device-pixel-ratio : 2){

    .rod{
        margin-top: 6px;
        height: 8px;
    }

    .curtain-right{
        height: 450px;
        right: -100px;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        padding: 32px 32px;
    }

    .content-mottos{
        display: none;
    }

    .right-column-content{
        padding-right: 24px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 2rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

/* iPhone X portrait */
/* @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3){

    .rod{
        margin-top: 24px;
        height: 32px;
    }

    .grid{
        grid-template-columns: 6fr 1fr;
        max-width: calc(667px * 3px);
    }

    .curtain-right{
        height: 1740px;
        right: -385px;
    }

    .main{
        padding: 80px 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 3rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
} */

/* iPhone X landscape */
/* @media only screen 
    and (device-width : 812px) 
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 3){

    .rod{
        margin-top: 6px;
        height: 8px;
    }

    .curtain-right{
        height: 550px;
        right: -120px;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        padding: 32px 32px;
    }

    .content-mottos{
        display: none;
    }

    .right-column-content{
        padding-right: 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 2rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
} */

/* iPhone SE portrait */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2){

    .rod{
        margin-top: 24px;
        height: 32px;
    }

    .grid{
        grid-template-columns: 6fr 1fr;
    }

    .curtain-right{
        height: 1740px;
        right: -385px;
    }

    .main{
        padding: 80px 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 3rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}

/* iPhone SE landscape */
@media only screen 
    and (device-width : 667px) 
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 2){

    .rod{
        margin-top: 6px;
        height: 8px;
    }

    .curtain-right{
        height: 550px;
        right: -120px;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        padding: 32px 32px;
    }

    .content-mottos{
        display: none;
    }

    .right-column-content{
        padding-right: 32px;
    }

    .introduction{
        padding-left: 0;
    }

    .history{
        padding-right: 0;
    }

    .today{
        padding-left: 0;
    }

    h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 2rem;

        margin-bottom: 4px;
    }

    p{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}