/* Variables */

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

/* Body */

*{
    margin: 0px;
}

body{
    background-color: var(--almost-red);

    margin-top: 0px;
}


/* Curtains */

.curtains{
    width: 100%;
    height: 16px;
}

.rod{
    width: 100%;
    height: 16px;

    position: fixed;
    margin-top: 18px;
}

.curtain-left{
    width: auto;
    height: 100%;

    position: fixed;
    left: -25px;
}

.curtain-right{
    width: auto;
    height: 100%;

    position: fixed;
    right: -25px;
}

/* Base */

.flex{
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    
    height: 100%;

    margin-top: -21px;
}

.main{
    width: 1170px;
    background-color: var(--almost-white);

    padding: 40px 32px;
}

.columns{
    width: 280px;
    height: 100%;
    background-color: var(--almost-red);
}

.left-column{
    padding-top: 54px;
    margin-right: 16px;
    margin-left: 60px;
}

.right-column{
    display: flex;
    flex-direction: column;

    padding-top: 5px;
    margin-right: 60px;
    margin-left: 16px;
}


/* Content */

.introduction{
    padding-left: 33%;
}

.history{
    padding-right: 33%;
}

.today{
    padding-left: 33%;
}

.mottos{
    margin-top: 0px;
    margin-bottom: 0.25vw;
}


/* Type */

h1{
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36pt;
    color: var(--almost-red);

    margin-top: 0px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:lighter;
    font-size: 16pt;
    color: var(--black);

    margin-top: 0px;
    margin-bottom: 24px;
}

h3{
    font-family: aktiv-grotesk, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 14pt;
    color: var(--almost-red);

    margin-top: 16px;
    margin-bottom: 8px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 12pt;
    color: var(--black);

    text-indent: 32px;
    line-height: 15pt;

    margin-top: 0px;
}

a{
    text-decoration: none;
    color: var(--almost-red);
}

.first-line{
    text-indent: 0px;
}

.quote{
    font-style: italic;
}


/* Queries */

@media screen and (max-width: 1600px){
    .right-column{
        margin-right: 30px;
    }

    .left-column{
        margin-left: 30px;
    }

    .curtain-left{
        left: -55px;
    }

    .curtain-right{
        right: -55px;
    }
}

@media screen and (max-width: 1400px){
    .right-column{
        margin-right: 16px;
    }

    .left-column{
        margin-left: 16px;
    }

    .curtain-left{
        left: -90px;
    }

    .curtain-right{
        right: -90px;
    }
}

@media screen and (max-width: 1200px){
    .curtain-left{
        left: -120px;
    }

    .curtain-right{
        right: -120px;
    }
}

@media screen and (max-width: 1170px){
    .curtain-left{
        left: -125px;
    }

    .curtain-right{
        right: -125px;
    }

    h1{
        font-size: 30pt;
    }

    h2{
        font-size: 14pt;
    }

    h3{
        font-size: 12pt;

        margin-bottom: 4px;
    }

    p{
        font-size: 10pt;
        line-height: 13pt;
    }
}

@media screen and (max-width: 1000px){
    .curtain-left{
        left: -155px;
    }

    .curtain-right{
        right: -155px;
    }

    h1{
        font-size: 24pt;
    }

    h2{
        font-size: 12pt;
        margin-bottom: 16px;
    }
}