*{
    margin: 0px;
    margin-top: 16px;
}

body{
    margin-top: 0px;
    background-color: rgb(242, 242, 242);
}


/* Curtains */

.curtains{
    width: 100%;
    height: 16px;
    margin-top: -15px;
}

.rod{
    width: 100%;
    height: 16px;
    position: fixed;
}

.curtain-left{
    width: auto;
    height: 100%;
    position: fixed;
    left: -25px;
    transform: translate(0px, -20px);
}

.curtain-right{
    width: auto;
    height: 100%;
    position: fixed;
    right: -25px;
    transform: translate(0px, -20px);
}


/* Base */
.mottos{
    margin-top: 0px;
}

/* Base */

.flex{
    display: flex;
    flex-wrap:nowrap;
}

.main{
    background-color: rgb(242, 242, 242);
    width: 1256px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.columns{
    background-color: #d82f1f;
    width: 300px;
    height: 2000px;
    margin-top: -34px;
}

.left-column{
    padding-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
}

.right-column{
    padding-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
}

.header{
    margin-top: 0px;
}


/* Content */

.introduction{
    padding-left: 33%;
}

.history{
    padding-right: 33%;
}

.today{
    padding-left: 33%;
}


/* Type */

h1{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 36pt;
    color: #d82f1f;

    margin-top: 0px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:lighter;
    font-size: 16pt;

    margin-top: 0px;
}

h3{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 900;
    font-style: italic;

    font-size: 14pt;
    color: #d82f1f;

    margin-top: 0px;
    margin-bottom: 8px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-top: 0px;
    text-indent: 32px;
    line-height: 15pt;
}

a{
    text-decoration: none;
    color: #d82f1f;
}

.first-line{
    text-indent: 0px;
}

.quote{
    font-style: italic;
}