:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

*{
    margin: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--almost-red);
}

#generator{
    width: auto;
}