@font-face {
    font-family: "illegible";
    src: url('../assets/Illegible-Regular.woff2') format('woff2');
}

#main{
    padding-right: 20%;
}

.title{
    margin-top: -2rem;
}

.show-case{
    margin-top: 3rem;
}

.characters{
    margin-top: -2rem;
}

p{
    margin-top: 0.4rem;
}

h5{
    font-family: illegible, snas;
    font-style: normal;
    font-size: 8rem;
}

h6{
    font-family: illegible, snas;
    font-style: normal;
    font-size: 4rem;

    text-transform: lowercase;
    line-height: 3.5rem;

    margin-bottom: 3.5rem;
}