.img{
    width: 100%;
    display: block;
}

.content{
    overflow: scroll;
    height: 95vh;
    display: block;
    margin-bottom: 0px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 8px;
    gap: 16px;
}

.column1{
    height: 100%;
}