article{
    max-width: 1000px;
	margin: auto;
}

h4{
    margin-bottom: 10px;
}

.content{
    max-width: 40em;
}

.img{
    width: 100%;
}
.weeks{
    margin-left: 32px;
}

.flex1{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}