@font-face {
    font-family: "Block1-Regular";
    src: url('../assets/Block1-Regular.woff2') format('woff2');

    font-family: "Block2-Regular";
    src: url('../assets/Block2-Regular.woff2') format('woff2');
}

:root{
    --almost-red:#d82f1f;
    --almost-white:#f2f2f2;
    --black: #000000;
}

*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

header{
    display: none;
}

.loading{
    height: calc(100vh - 1rem);
    width: calc(100vw - 1rem);

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 1rem;
    height: calc(100vh - 2rem);
}

/* poem */

#viewport{
    height: 70%;
    overflow: scroll;
}

#poem{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

select{
    cursor: pointer;
}

/* Footer */

footer{
    height: 30%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    position: fixed;
    bottom: 1rem;
    margin-top: 1rem;

    background-color: white;
}

#info{
    padding-top: 1rem;
}

.creator{
    display: flex;
    justify-content: space-between;
}

.creator:hover{
    background-color: var(--almost-white);
}

.names{
    display: flex;
    gap: 1rem;
}

#title{
    text-transform: none;
}

#buttons{
    padding-top: 1rem;
}

/* Type */

h1{
    font-size: 3rem;
}

h2{
    margin-top: 0.6rem;
    font-size: 2.4rem;
}

h3{
    font-size: 3rem;
    padding: 1rem 1.6rem;

    color: white;
    background-color: black;
}

button{
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;

    font-size: 1.4rem;
}

select{
    font-size: 1.4rem;
}

p{
    font-size: 1.6rem;
}

.blockmode{
    font-family: Block2-Regular;
    font-weight: normal;
    font-size: 1.3rem;
}

/* Queries */

@media print{
    @page{
        size: auto;
        margin: 0mm;
    }

    header{
        display: none;
    }

    h3{
        display: none;
    }

    #viewport{
        height: 100%;
        overflow: visible;
    }

    select{
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    footer{
        display: none;
    }
}